<html>
<head>
    <title>Main</title>
</head>

<body>
Hello, {{ request.user.bitsid }}<br>
{% load main_tags %}
<!------------------------------------------------TIMETABLE BEGINS-------------------------------------------------------------------------->
<H1>
<FONT COLOR="DARKCYAN"><CENTER>COLLEGE TIME TABLE</FONT>
</H1>
<table border="2" cellspacing="3" align="center">
<tr>
 <td align="center">
 <td>8:00-9:00
 <td>9:00-10:00
 <td>10:00-11:00
 <td>11:00-12:00
 <td>12:00-1:00
 <td>1:00-2:00
 <td>2:00-3:00
 <td>3:00-4:00
 <td>4:00-5:00
</tr>
{% for i in "012345" %}
<tr>
<td align="center">{{ i|day_name }}
{% for j in "123456789" %}
<td>{% with i|addstr:j as template %} {% with timetab|lookup:template as t %} {{ t.course }} {{ t.stype }}<br>{{ t.teacher }}<br>{{t.room}}
			{% endwith %}
		{% endwith %}
	{% endfor %}
	</tr>
{% endfor %}

</table>
<!------------------------------------------------TIMETABLE ENDS-------------------------------------------------------------------------->
<ul>

<li><a href='/prlist'>PR numbers</a></li>
</ul>
<a href="/logout/">Logout</a><br>

<p style="color: red">
{{ errors }}

</p>
<!------------------------------------------------COURSE SELECTED BEGINS---------------------------------------------------------------------->
<h1 align="center">
Courses Selected</h1><br>
{% for slot in slots %}
	{% if slot.pk in timeid %}
		<form action="" method="post">
			{{ slot.course }}--------{{slot.name}}--------{{ slot.teacher }}-----{{slot.day|day_name}}------{{slot.hour|hour_name}}
			{% with 'del'|addstr:slot.pk as delname %}
				{% if perms.main.can_changett_pr and perms.main.can_changett_final %}
					<input type="hidden" value={{delname}} name='id'>
					<input type="submit" value="Delete" name={{delname}}>
				{% endif %}<br>
        			{% csrf_token %}
			{% endwith %}	
		</form>
	{% endif %}
	{% endfor %}
<br><br><br>
<!------------------------------------------------COURSE SELECTED ENDS-------------------------------------------------------------------------->
{% if perms.main.can_changett_pr and perms.main.can_changett_final %}      <!-- Check if user is permitted to change timetable(pr or final)  -->
<script>
function f() {                                                            //  This function displays only the course selected
	var x = document.getElementById("mySelect").value;
	{% for s in availablecourses %}                  
		document.getElementById('{{s.course}}').style.display = 'None';
		if(x=="{{s.course}}") {
			document.getElementById('{{s.course}}').style.display = 'block';
		}
	{% endfor %}
}
</script>
<!------------------------------------------------COURSE MENU BEGINS-------------------------------------------------------------------------->
{% regroup availablecourses by course as course_list %}
<div align="center">
	<select id="mySelect" onchange="f()" style="align:'center'">
	{% for n in course_list %}
		<option value="{{n.grouper}}">{{n.grouper}} {{n.list.0.name}}</option>
	{% endfor %}
	</select>
</div>
<!------------------------------------------------COURSE MENU ENDS-------------------------------------------------------------------------->
<!------------------------------------------------COURSE TIMINGS BEGINS---------------------------------------------------------------------->
{% for course in course_list %}
	<div id="{{course.grouper}}" style="display:none">
	<H1>
		<FONT COLOR="#333"><CENTER>{{ course.list.0.name }}</FONT>
	</H1>
	{% regroup course.list by stype as stype_list %}
	{% for stype in stype_list %}
		<H1>
		<FONT COLOR="#333"><CENTER>{{ stype.grouper }}</FONT>
		</H1>
		{% for slot in stype.list %}
			<form action="" method="post">
				<input type="hidden" value={{slot.pk}} name='id'>
				{{ slot.course }}---------{{slot.name}}---------{{ slot.teacher }}------{{ slot.stype }}------{{slot.day|day_name}}------{{slot.hour|hour_name}}
				{% if slot.pk not in timeid %}
					<input type="submit" value="Add" name={{slot.pk}}><br>
				{% endif %}
        			{% csrf_token %}
			</form>
		{% endfor %}
		<br>
	{% endfor %}
	</div>
{% endfor %}
<!------------------------------------------------COURSE TIMINGS ENDS---------------------------------------------------------------------->
<script>									
{% for course in course_list %} 							// 1st course to be displayed
	{% if forloop.first %}
		document.getElementById('{{ course.list.0.course }}').style.display = 'block';
	{% endif %}
{% endfor %}
</script>
<!-------------------------------------------Finish Registration-------------------------------------------------------------------->
<form action="" method="post">
	<input type="hidden" value="finish" name='id'>
	<div align="center">
	<br><br><br>
	<input type="submit" value="Finish Registration" name='finish_registration'><br></div>
        {% csrf_token %}
</form>


{% endif %}
</body>
</html>